<div class="notice">
  In this example you can see how <strong>Typus</strong> handles attachments. <strong>Paperclip</strong> or <strong>Dragonfly</strong> or <strong>CarrierWave</strong> are supported.
</div>
